/* 기본 스타일 제거 */
h1,
body,
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

/* 폰트 */
* {
  font-family: "Noto Sans KR", sans-serif;
}

/* 아이콘 숨김  */
.blind {
  display: none;
}

body {
  margin-top: 4rem;
}

/* header -------------------------- */
.header {
  background-color: black; /* header 배경색 */
  color: #bbbbbb; /* header 폰트색 */
  font-size: 1rem; /* header 폰트 사이즈 */
  position: fixed; /* 상단 고정 */
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
/* navbar 레이아웃 */
.navbar {
  display: flex; /* 가로로 정렬 */
  justify-content: space-between; /* 좌우 끝으로 */
  align-items: center; /* 세로 가운데로 */
  padding: 0px 120px; /* navbar 여백 */
  height: 4rem;
}
/* navbar 좌측--------------------- */
.gnb {
  display: flex; /* 로고와 ul 가로 정렬 */
  align-items: center; /* logo와 ul 세로 가운데로 */
}
/* 로고 */
.logo {
  margin-right: 20px; /* logo와 ul 간격벌리기 */
}
.logo img {
  width: 120px;
  display: block; /* img 공백 제거 */
}

/* nav_menu */
.nav_menu {
  display: flex; /* li 가로 정렬 */
}
.nav_menu li a {
  display: block; /* a block  */
  padding: 20px; /* a 마우스 터치 쉽게 공간 만들기 & 크기 키우기 */
  transition: color 0.5s;
}
a:hover {
  color: white;
}
/* ------------------------------- */
/* navbar 우측*/
.nav_icons {
  display: flex; /* li 가로 정렬 */
  align-items: center; /* li 세로 가운데로  */
}

.text_service,
.text_mypage,
.hamburger {
  display: block; /* a block */
  padding: 20px; /* a 값에 패딩 */
}

.icon_search {
  /* background-color: red; */
  margin-left: 20px;
}
.icon_search::after {
  content: "";
  float: right;
  display: block;
  width: 1px;
  height: 20px;
  background-color: #454545;
  margin-left: 30px;
  margin-right: 10px;
}

.nav_icons i {
  font-size: 1.3rem; /* 폰트어썸 아이콘 사이즈 */
  color: white; /* 폰트어썸 컬러 */
}

/* 햄버거 버튼 */

.line_wrap {
  /* .line 선 위치 잡기 위해 relative */
  position: relative;
  /*  line_wrap 크기 지정 */
  width: 25px;
  height: 25px;
}
.line {
  display: block; /* 높이와 너비 지정 위해!! */
  position: absolute; /* 선 위치 잡기 위해 */
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 1px;
  transition: transform 0.3s;
  /* all을 하면 스르르 나타남 왜?? */
}
.line1 {
  top: 5.5px;
  /* line1 위치 지정 */
}
.line2 {
  bottom: 5.5px;
  /* line2 위치 지정 */
}

/* 햄버거 active X 만들기 */

.active_hbgbtn1 {
  transform: translateY(5.5px) rotate(45deg);
}
.active_hbgbtn2 {
  transform: translateY(-5.5px) rotate(-45deg);
}

/* 슬라이드 */
main {
}
.slider {
  border: 6px solid green;
  width: 100%;
  
  /* height: 850px; */
}

.slides {
  border: 3px solid #f00;
  display: flex;
  height: 100%;
}

.slide_item {
  border: 3px solid blue;
  width: 100%;
  /* height: 100%; */
  padding-bottom: 45%; 
  /* 패딩!으로 이미지 보여지게하기!!!!!!!!!!!!!!!!!!!!!!*/
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide_item {
}
/* 슬라이드 이미지 */
.item1 {
  background-image: url("./img/main1.jpg");
}
.item2 {
  background-image: url("./img/main2.jpg");
}
.item3 {
  background-image: url("./img/main3.jpg");
}
.item4 {
  background-image: url("./img/main4.jpg");
}
.item5 {
  background-image: url("./img/main5.jpg");
}
.item6 {
  background-image: url("./img/main6.jpg");
}
.item7 {
  background-image: url("./img/main7.jpg");
}
.item8 {
  background-image: url("./img/main8.jpg");
}

.btn_pagenation {
  position: absolute;
  display: flex;
  border: solid #000;
  z-index: 99;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6rem;
  bottom: 0;
}
.btn_pagenation li {
}
.btn_pagenation input {
  display: block;
  appearance: none;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  accent-color: #fff;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 3px 7px;
  /* box-sizing: content-box; */
}
.btn_pagenation input:checked {
  display: block;
  border: 2px solid #fff;

  width: 0.7rem;
  height: 0.7rem;
  background-color: transparent;
}

/* .slide_item:nth-child(1){
  background-image: url(./img/main1.jpg);
}
.slide_item:nth-child(2){
  background-image: url(./img/main2.jpg);
}
.slide_item:nth-child(3){
  background-image: url(./img/main3.jpg);
}
.slide_item:nth-child(4){
  background-image: url(./img/main4.jpg);}
.slide_item:nth-child(5){
  background-image: url(./img/main5.jpg);}
.slide_item:nth-child(6){
  background-image: url(./img/main6.jpg);}
.slide_item:nth-child(7){
  background-image: url(./img/main7.jpg);}
.slide_item:nth-child(8){
  background-image: url(./img/main8.jpg);} */

/* --------------------------- */
@media screen and (max-width: 1599px) {
  .navbar {
    padding: 0px 100px;
  }
}
@media screen and (max-width: 1359px) {
  .navbar {
    padding: 0px 76px;
  }
  /*   navbar_메뉴 아이콘  */
  .nav_icons li a {
    padding: 20px 10px;
  }

  .text_service,
  .text_mypage {
    display: none;
  }
  .icon_service,
  .icon_mypage {
    display: block;
    padding: 20px 10px;
  }

  .icon_search {
    margin-left: 0;
  }
  .icon_search::after {
    margin-left: 20px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 1023px) {
  .nav_menu {
    display: none;
  }

  .icon_search,
  .icon_service {
    display: none;
  }

  .navbar {
    padding: 0 20px;
  }
}
